<div class="panel panel-info">
  <div class="panel-heading">
    <span class="glyphicon glyphicon-info-sign pull-left"></span>
    <h3 class="panel-title">
        No Results
    </h3>
  </div>
  <div class="panel-body">
    No results were found for your search: <%= query %>.
    Please <a href="#/" data-target="start">try again</a>
  </div>
</div>
