<a href="<%= html_url %>" data-anchor="<%= login %>">
    <!-- this would probably fit better as a bg-img with bg-size cover or even contain -->
    <img src="<%= avatar_url %>"  class="img-thumbnail" />
    <span class="pull-right"><%= login %></span>
</a>
